*{
   list-style: none;
   text-decoration: none;
}
.wrapper{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 92vh;
}
.wrap-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 50vh;
}
.wrap-item,label,input,button{
    padding: 8px;
}
.wrap-item button{
    background-color: red;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
}
input:hover{
    border: 2px solid red;
}
.wrap-item button:hover{
    color: rgb(82, 230, 82);
}
.title{
    color: beige;
    border-bottom: 2px solid beige;
    padding-bottom: 15px;
    width: 90px;
    text-align: center;
}
.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px; 
  }
  .forgot-pasword{
    color: rgb(240, 255, 250);
    text-decoration: none;
    
  }